.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #2196f3 ;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-top: 30px;
}

.App-intro {
  font-size: large;
}


li > button {
  width: 100%!important;
}

.side-bar-button {
  float: left;
  margin-top: 30px;
  position: relative;
  color: white;
  font-size: 40px!important;
  
}
.side-bar-button:hover {
  color: darkgrey;
}
.side-bar-button:active {
  color: grey;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
::-webkit-scrollbar { 
  display: none; 
}